<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret Key</key>
	<string>Pu72NDn6s4NHaYvy8KG2PipQ2tqo6hLpoEtoq7Z3BQ33jfLcwl</string>
	<key>API Key</key>
	<string>vg5prSoalFow8So7cJdzPBxUO</string>
</dict>
</plist>
